<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Ruby Ferguson</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/cover.css" rel="stylesheet">
    <link href="../static/navbar.css" rel="stylesheet">

  </head>

  <body>

  	<div class ="container cust-navbar">
  		<div class="row">

			  <div class="col-md-7 offset-md-5">	
				  <nav class="nav nav-masthead">
					<a class="nav-link active" href="index">Home</a>
					<a class="nav-link" href="projects">Projects</a>
					<a class="nav-link" href="hireme">Hire Me</a>
					<a class="nav-link" href="contact">Contact</a>
				  </nav>
			  </div>
		  </div>
	</div>



   	<div class="site-wrapper">

      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
		  	<img src="../static/me3.png">
            <h1 class="cover-heading">Contact Ruby</h1>
            <h3 class="cover-heading">Email: rubydferguson@gmail.com</h2>
            <h3 class="cover-heading">Twitter: <a href="https://twitter.com/rubyoffthe"><u>@RubyOffThe</u></a></h2>
            <h3 class="cover-heading">GitHub: <u><a href="https://github.com/RoboPython">RoboPython</a></u></h2>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
