<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Projects - Ruby Ferguson</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/projects.css" rel="stylesheet">
    <link href="../static/navbar.css" rel="stylesheet">

  </head>

  <body>
	<div class="container">
		<div class="row">
			  <div class="col-sm-6 col-md-2">	
				<h1>Projects</h1>
			  </div>

			  <div class="col-sm-6 col-md-4 offset-md-6">	
				  <nav class="nav nav-masthead">
					<a class="nav-link" href="index">Home</a>
					<a class="nav-link" href="projects">Projects</a>
					<a class="nav-link active" href="hireme">Hire Me</a>
					<a class="nav-link" href="contact">Contact</a>
				  </nav>
			  </div>
		  </div>

		  

  		<div class="row">
			<div class="col-md-12">	
			<p>I have a wide range of experience in tech including web development, robotics, simulation and game development. I'm currently a Theoretical Physics Undergrad at Lancaster University
			looking for work that will fit around my studies. If you want to know more then click <a href="../static/cv.pdf"><u>here</u></a> for my CV and feel free to get in touch.</p>
			</div>
		</div>


  		<div class="row">
			<div class="col-md-3 whitespace">	
				<h2>I'm great at....</h2>
				<ul>

					<li>Physics</li>
					<li>Rapid Prototyping</li>
					<li>Teaching Programming and Electronics</li>
					<li>Leading teams of developers</li>
					<li>Public Speaking</li>
				</ul>	
			</div>
			<div class="col-md-4 whitespace">	
				<h2>I want to do more....</h2>
				<ul>
					<li>Research and Development</li>
					<li>Physics-based programming (simulations, data analysis etc)</li>
					<li>Working with emerging technologies</li>
				</ul>	

			</div>
			<div class="col-md-3 whitespace">	
				<h2>I don't want....</h2>
				<ul>
					<li>Roles that don't fit with my studies</li>
				</ul>	

			</div>

		</div>





	</div>





	


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
